<div class="pt-8">
    <div class="relative mx-auto flex max-w-2xl flex-col items-center">
        <div class="mb-8 flex">
            <a href="https://github.com/ibelick/background-snippets" target="_blank" rel="noopener noreferrer" class="inline-flex">
                <span class="relative inline-block overflow-hidden rounded-full p-[1px]">
                    <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#a9a9a9_0%,#0c0c0c_50%,#a9a9a9_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#171717_0%,#737373_50%,#171717_100%)]"></span>
                    <div class="inline-flex h-full w-full cursor-pointer justify-center rounded-full bg-white px-3 py-1 text-xs font-medium leading-5 text-slate-600 backdrop-blur-xl dark:bg-black dark:text-slate-200">
                        New snippets ⚡️
                        <span class="inline-flex items-center pl-2 text-black dark:text-white">
                            Read more<!-- -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="pl-0.5 text-black dark:text-white">
                                <path d="M5 12h14"></path>
                                <path d="m12 5 7 7-7 7"></path>
                            </svg>
                        </span>
                    </div>
                </span>
            </a>
        </div>
        <h2 class="text-center text-3xl font-medium text-gray-900 dark:text-gray-50 sm:text-6xl">
            Collection of modern,<!-- -->
            <span class="animate-text-gradient inline-flex bg-gradient-to-r from-neutral-900 via-slate-500 to-neutral-500 bg-[200%_auto] bg-clip-text leading-tight text-transparent dark:from-neutral-100 dark:via-slate-400 dark:to-neutral-400">background snippets</span>
        </h2>
        <p class="mt-6 text-center text-lg leading-6 text-gray-600 dark:text-gray-200">
            Ready-to-use, simply copy and paste into your next project. All snippets crafted with Tailwind CSS and<!-- -->
            <span class="cursor-wait opacity-70">Vanilla CSS</span>
             for easy integration.
        </p>
        <div class="mt-10 flex gap-4">
            <a href="https://github.com/ibelick/background-snippets" target="_blank" rel="noopener noreferrer" class="inline-flex items-center">
                <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2">
                    Go to GitHub 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="pl-0.5">
                        <path d="M5 12h14"></path>
                        <path d="m12 5 7 7-7 7"></path>
                    </svg>
                </button>
            </a>
            <button class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground hover:bg-secondary/80 h-10 px-4 py-2">Reset background</button>
        </div>
    </div>
</div>