@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif,poppins;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-paginated{
  @apply border border-slate-700 rounded-md text-xs font-semibold py-1 px-3 hover:bg-slate-700 hover:text-white
  transition-all disabled:opacity-50 disabled:cursor-not-allowed disabled:border-slate-800 disabled:text-slate-800
  disabled:hover:bg-white disabled:hover:text-slate-700
}

