
{% load static %}
{% load widget_tweaks %}
{% block content %}
<!-- Favicons -->
<link rel="icon" type="image/x-icon" href="{% static 'images/faviconImg.png' %}">
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
<meta name="description"
    content="Shop the latest fashion trends at Fashion Hub. Discover stylish clothing for men, women, and kids with free shipping on orders over $50.">
  <meta name="keywords"
    content="clothing, fashion, online store, e-commerce, men's clothing, women's clothing, kids' clothing, accessories, trendy outfits, affordable fashion">
  <meta name="author" content="Angel Aquino">
  <meta name="robots" content="index, follow">

  <style type="text/css">
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	padding-top: 300px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #929292;
	padding: 7px;
	margin:0px;
	outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #613FE5;
	-webkit-box-shadow: 0 0 8px #613FE5;
	box-shadow: 0 0 8px #613FE5;
	border: 1px solid #613FE5;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #613FE5;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #613FE5;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

</style>
{%if product_in_cart%}
<form method="post">
  {% csrf_token %}
<ul class="form-style-1">
    <li>
        <label>Email <span class="required">*</span></label>
        {% render_field addressForm.Email class="field-long" placeholder="Email" %}

    </li>
    <li>
        <label>Mobile <span class="required">*</span></label>
        {% render_field addressForm.Mobile class="field-long" placeholder="Mobile" %}
    </li>

    <li>
        <label>Shipment Address <span class="required">*</span></label>
        {% render_field addressForm.Address id="field5" class="field-long field-textarea" placeholder="Building Number,city, pin" %}

    </li>
    <li>
        <input type="submit" value="Proceed To Pay" />
    </li>
</ul>
</form>
{%else%}
<br><br>
<h1 style="text-align:center; color:red;"> First Add Product In Cart </h1>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
{%endif%}

{% endblock content %}
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
{% include "ecom/footerhome.html" %}