<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}



  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <meta name="description"
    content="Shop the latest fashion trends at Fashion Hub. Discover stylish clothing for men, women, and kids with free shipping on orders over $50.">
  <meta name="keywords"
    content="clothing, fashion, online store, e-commerce, men's clothing, women's clothing, kids' clothing, accessories, trendy outfits, affordable fashion">
  <meta name="author" content="Angel Aquino">
  <meta name="robots" content="index, follow">
  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="{% static 'images/faviconImg.png' %}">
<br><br><br>
<h3 style="color:#613FE5;text-align:center;">Your Feedback Sent Succesfully !</h3>
<br>
<div style="text-align:center;">
  <img src="{% static 'images/success.png' %}" style="width:100px; height:100px;">
</div>

<br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}


