{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}
<!-- Favicons -->
<link rel="icon" type="image/x-icon" href="{% static 'images/faviconImg.png' %}">
<meta name="description"
    content="Shop the latest fashion trends at Fashion Hub. Discover stylish clothing for men, women, and kids with free shipping on orders over $50.">
  <meta name="keywords"
    content="clothing, fashion, online store, e-commerce, men's clothing, women's clothing, kids' clothing, accessories, trendy outfits, affordable fashion">
  <meta name="author" content="Angel Aquino">
  <meta name="robots" content="index, follow">
<br><br><br>

<center>
    <h2>You've logged out successfully!</h2>
</center>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>

{% endblock content %}
