{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" type="image/x-icon" href="{% static 'images/faviconImg.png' %}">
  <meta name="description"
  content="Shop the latest fashion trends at Fashion Hub. Discover stylish clothing for men, women, and kids with free shipping on orders over $50.">
<meta name="keywords"
  content="clothing, fashion, online store, e-commerce, men's clothing, women's clothing, kids' clothing, accessories, trendy outfits, affordable fashion">
<meta name="author" content="Angel Aquino">
<meta name="robots" content="index, follow">
</head>


<br><br><br><br>
<h2 style="text-align:center; color:#613FE5;">Feedbacks By User</h2>
<hr>
{%for f in feedbacks%}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>{{f.date}} ||By : {{f.name}} </strong><br> {{f.feedback}}
</div>
{%endfor%}

{% endblock content %}
